.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.container {
    width: 50%;
    display: block;
    padding-left: 22%;
}

.row {
    display: block;
    padding: 2px;
}

.col {
    display: inline-block;
    padding: 1px;
}

.key {
    font-size: smaller;
    width: 20%;
    text-align: right;
    margin-bottom: 5px;
}

.value {
    font-size: smaller;
    width: 70%;
    text-align: left;
    padding-left: 5%;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.blk-row:hover {
    background-color: #61dafb;
}

.block-header {
    border: 2px solid black;
}

hr.txs {
    width: 50%;
}

.tx-row {
    display: block;
}

.open {
    border: 1px solid gray;
}

.tx-header {
    padding-top: 5px;
}

.tx-details {
    padding: 2px;
}

.tx-details:hover {
    background-color: #61dafb;
}